---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/Hero.astro";
import Services from "@/sections/Services.astro";
import Adventajes from "@/sections/Adventajes.astro";
import Testimonials from "@/sections/Testimonials.astro";
import ContactUs from "@/sections/ContactUs.astro";
import Footer from "@/sections/Footer.astro";
import { getLandingData } from "@/services/data.service";
import type { ContactUsData } from "@/config/landing.interface";

const data = await getLandingData();

// Dummy ContactUsData
const defaultContactUsData: ContactUsData = {
  title: "Contact Us",
  description: "We'd love to hear from you. Please reach out with any questions or comments.",
  contactDetails: {
    email: "example@example.com",
    phone: "123-456-7890",
    address: "123 Example St, Example City, EX 12345",
  },
  form: {
    fields: [
      { label: "Name", type: "text", placeholder: "Your Name" },
      { label: "Email", type: "email", placeholder: "Your Email" },
      { label: "Message", type: "textarea", placeholder: "Your Message" }
    ],
    submit: "Send Message",
  },
};
---

<Layout meta={data.meta}>
  <Header data={data.headerData} />
  <main class="flex flex-col justify-center items-center">
    <!-- Hero Section Full Width -->
    <section id="hero" class="w-full">
      <Hero data={data.heroData} />
    </section>
    
    <!-- Other Sections Constrained to 3/4 Width -->
    <div class="w-3/4">
      <section id="services">
        <Services data={data.servicesData} />
      </section>
      <section id="adventajes">
        <Adventajes data={data.adventajesData} />
      </section>
      <section id="testimonials">
        <Testimonials data={data.testimonialsData} />
      </section>
      <section id="contactUs">
        <ContactUs data={data.contactUsData || defaultContactUsData} />
      </section>
    </div>
    
    <Footer data={data.footerData} />
  </main>
</Layout>
