---
import Action from "@/components/Action.astro";
import type { HeaderData } from "@/config/landing.interface";

interface Props {
  data: HeaderData;
}

const { data } = Astro.props;
---

<header id="navbar" class="w-full transition duration-300 justify-between fixed h-19 z-50 flex bg-[#0d1531]">
  <nav aria-label="Main Navigation" class="flex flex-row items-center w-full justify-between px-4 md:px-12">
    <div class="text-nowrap">
      <!-- Logo Section -->
      <Action as="a" class="text-xl font-mokoto text-white" href="#">{data.logo}</Action>
    </div>
    <div class="md:hidden">
      <!-- Hamburger Icon for Mobile -->
      <button id="hamburger" class="focus:outline-none">
        <svg
          class="w-6 h-6 text-white"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
            id="hamburger-icon"
          />
        </svg>
      </button>
    </div>
    <!-- Navbar Links -->
    <ul id="nav-links" class="flex-col md:flex-row w-full justify-end gap-x-14 hidden md:flex">
      {data.links.map((item) => (
        <li class="text-lg text-white hover:scale-110 hover:opacity-80">
          <Action as="a" href={item.href}>
            {item.label}
          </Action>
        </li>
      ))}
    </ul>
  </nav>
  <!-- Mobile Dropdown -->
  <div id="mobile-dropdown" class="absolute top-18 left-0 w-full bg-[#0e1a40] text-white hidden flex-col">
    {data.links.map((item) => (
      <Action as="a" class="block px-4 py-2 hover:bg-blue-600" href={item.href}>
        {item.label}
      </Action>
    ))}
  </div>
</header>

<style>
  @font-face {
    font-family: 'Mokoto';
    src: url('/fonts/Mokoto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .font-mokoto {
    font-family: 'Mokoto', sans-serif;
  }

  #mobile-dropdown {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script>
  document.getElementById('hamburger').addEventListener('click', function () {
    const mobileDropdown = document.getElementById('mobile-dropdown');
    const hamburgerIcon = document.getElementById('hamburger-icon');

    if (mobileDropdown.classList.contains('hidden')) {
      mobileDropdown.classList.remove('hidden');
      mobileDropdown.classList.add('flex');
      hamburgerIcon.setAttribute('d', 'M6 18L18 6M6 6l12 12');
    } else {
      mobileDropdown.classList.remove('flex');
      mobileDropdown.classList.add('hidden');
      hamburgerIcon.setAttribute('d', 'M4 6h16M4 12h16m-7 6h7');
    }
  });
</script>